@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply bg-mirage m-0 p-0 outline-0 box-border;
  }

  html,
  body,
  #root {
    @apply h-full;
  }
  #root {
    @apply flex flex-col;
  }

  body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 16px;

    @apply font-roboto;
  }
}
